extends ../layout

block content
  .container-fluid
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action="/bicicletas/create" method="post")
      label(for="code") Code:
      input#code.form-control(type="text" name="code")
      br
      label(for="color") Color:
      input#color.form-control(type="text" name="color")
      br
      label(for="modelo") Modelo:
      input.form-control(type="text" name="modelo")
      br
      label(for="lat") Latitud:
      input.form-control(type="text" name="lat")
      br
      label(for="lng") Longitud:
      input.form-control(type="text" name="lng")
      br
      br
      input.btn.btn-primary(type="submit" value="OK")