extends ../layout

block content
  .container-fluid
    a.btn.btn-success(href="/bicicletas/create") Nueva Bicicleta
  
    table.table.table-striped
      thead
        tr
          th(scope='col') #
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Ubicacion
          th(scope='col')
          th(scope='col')
      tbody
        each bici in bicis
          tr
            td(scope='row')
              = bici.code
            td= bici.color
            td= bici.modelo
            td= bici.ubicacion
            td
              a.btn(href= '/bicicletas/update/'+bici._id+'') Editar
            td
              form.inline(method='post' action='/bicicletas/delete/'+bici._id+'')
                  input(type='hidden' name='code' value= bici._id)
                  button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                      = 'Eliminar'