extends ../layout

block content
  .container-fluid
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Modificar Bicicleta

    br
    br

    form(action=`/bicicletas/update/${bici._id}` method="post")
      label(for="code") Code:
      input#code.form-control(type="text" name="code" value=bici.code)
      br
      label(for="color") Color:
      input#color.form-control(type="text" name="color" value=bici.color)
      br
      label(for="modelo") Modelo:
      input.form-control(type="text" name="modelo" value=bici.modelo)
      br
      label(for="lat") Latitud:
      input.form-control(type="text" name="lat" value=bici.ubicacion[0])
      br
      label(for="lng") Longitud:
      input.form-control(type="text" name="lng" value=bici.ubicacion[1])
      br
      br
      input.btn.btn-primary(type="submit" value="OK")